<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131480740069-pv91bodggasioh6ji3d55re3pbr41tkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131480740069-pv91bodggasioh6ji3d55re3pbr41tkg</string>
	<key>API_KEY</key>
	<string>AIzaSyBxzre_f_NyWBX2I00moo8r55_PJrzm6hg</string>
	<key>GCM_SENDER_ID</key>
	<string>131480740069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isil.AppCaraLibro</string>
	<key>PROJECT_ID</key>
	<string>caralibro-23fb0</string>
	<key>STORAGE_BUCKET</key>
	<string>caralibro-23fb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:131480740069:ios:4d2237388537c50a70740c</string>
</dict>
</plist>
